/* .home-buttons   {

} */

.home-buttons {
    border:2px dotted blue;
    display:flex;
    width: 20%;
    justify-content: space-around;
    align-content: center;
}
.home-button    {
    color:white;
    background-color: #1C3879;
}

.images-container   {
    padding: 10px;
    display:flex;
    justify-content: space-around;
    width:50%;
}

.container {
    /* justify-content: center; */
    display:flex;
    flex-direction: column;
    text-align: center;
}

.border > * {
    border: 2px dotted black;

}

.center {
    margin:auto;
}