/* .container  {
    text-align: center;
    justify-content: center;
} */

body {
    background-color: #607EAA;
}

.text   {
    color: #EAE3D2;
}

.border  {
    border: 2px solid black;
}

.page-container {
    min-height: 400px;
}