.footer-container {
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1c3879;
}

.social-link {
    display: block;
    border: 2px dotted white;
    padding: 20px;
  }
  
.social-links  {
    border: 2px dotted red;
    display: flex;
    justify-content: center;
  }

  #email:link    {
    color: white;
    text-decoration: none;
  }